{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MicroBlogHub{% endblock %}</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    <link rel="stylesheet" href="{% static 'css/vibetext.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Ensure CSRF cookie is set on pages that extend this template (login/register) -->
    <div style="display:none;">{% csrf_token %}</div>

    <!-- NO HEADER HERE -->
    <div class="main-content-wrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
